#mainNavBar {
    background-color: rgb(0, 0, 0);
}

#mainNavBar .navbar-brand {
    color: white;
}
#mainNavBar .navbar-nav a{

    &:focus {
        background-color: darkorange;
        color: rgb(255, 255, 255);
    }

    &:visited{
        background-color: darkorange;
        color: rgb(255, 255, 255);
    }

    &:hover {
		background-color: darkorange;
		color: rgb(255, 255, 255);
    } 
}