<div class="card">
    <div class="align-vert-cardhead-cardbody">
        <div class="card-header" id="CH">
                {{@item.email}}
        </div>
        <div class="card-body">
            <h5>{{@item.message}}</h5>
        </div>
    </div>
    <div class="card-footer text-right">
        {{yield}}
    </div>
</div>