/*#contacts .panel {outline: 5px solid green}*/
#libraries {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#libraries .col-container {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    /*width: 100%;*/
}
#libraries .card {
    background-color:rgb(11, 141, 247);
    border: solid; 
    border-width: 5px; 
    border-color: rgb(0, 0, 0); 
    border-radius: 15px;
    /*height: max-content;*/
    /*width: 350px;*/
    /*float: left;*/
    margin: 20px;
    word-wrap: break-word;
    /*display: table-cell;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*grid-template-rows: 25% 50% 25%;
    grid-template-columns: 300px;*/
    
    /*justify-content: center;*/
    
}
#libraries #CH {
    /*height: max-content;*/
    background-color: rgb(28, 207, 169);
    color: rgb(0, 0, 0);
    border-radius: 10px; 
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
}
#libraries .card-body {
    background-color: rgb(11, 141, 247);
    color: white;
    border-radius: 10px;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
    word-wrap: break-word;  
}

#contacts .align-vert-cardhead-cardbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*#contacts .card-body #card-body-text {
    height: max-content;
}*/

#libraries .card-footer {
    background-color: rgb(28, 207, 169); 
    border-radius: 10px; 
    border: solid; 
    border-width: 0px; 
    border-color: rgb(0, 0, 0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
    
}

#libraries .btn {
    border: solid; 
    border-width: 2px; 
    border-color: rgb(255, 255, 255);
}

#libraries .btn-danger {
    /*border: solid; 
    border-width: 2px; 
    border-color: rgb(0, 0, 0);*/
    border-radius: 10px; 
    padding: 6px 11px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    
}

#libraries .btn-success {
    /*border: solid; 
    border-width: 2px; 
    border-color: rgb(0, 0, 0);*/
    border-radius: 10px; 
    padding: 6px 11px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 196, 0);
    
}

/*#libraries .btn-xs {}*/

/*#contacts .col {
    display: table-cell;
    
}*/


