<div  id="contacts">
    <div class="col-container">  
        {{#each model as |contact|}}
            {{#if contact.email}}
                <ContactItem @item={{contact}}>
                    <button class="btn btn-danger btn-xs" {{action 'deleteContact' contact}}>Delete</button>
                </ContactItem>
            {{/if}}
        {{/each}}
    </div>
</div>