<div class="container">
  
  <NavBar>
    {{#if session.isAuthenticated}}
      <li style="margin-top:7px; margin-left:10px">
        <button id="logoutButton" {{action "logout"}} class="btn btn-primary" >
          Sign out{{#if loggedUser.user.email}} {{loggedUser.user.email}} {{/if}}
        </button>
      </li>
    {{/if}}
  </NavBar>

  {{outlet}}

</div>
