<div class="container">
  
  <NavBar>
    {{#if session.isAuthenticated}}
      <li style="margin-top:7px; margin-left:10px">
        <button {{action "logout"}} class="btn btn-primary" >Sign out {{loggedUser.user.email}}</button>
      </li>
    {{/if}}
  </NavBar>

  {{outlet}}

</div>
